
myOS.xcodeproj/xcuserdata/Manmiho.xcuserdatad/xcschemes/xcschememanagement.plist

myOS.xcodeproj/xcuserdata/Manmiho.xcuserdatad/xcschemes/myOS.xcscheme

myOS.xcodeproj/project.xcworkspace/xcuserdata/Manmiho.xcuserdatad/UserInterfaceState.xcuserstate
